body {
background-color: #444;
color: #EEE;
}

h1 {
color: #FFF;
}

a {
color: #EEE;
text-decoration: none;
}

a:hover {
color: #FFF;
font-weight: bold;
}

#frontPage {
	background-color: #333;
}

#frontPage div{
position: fixed;
width: 100%;
top: 20%;
}

#frontPage h1 {
	color: #333;
	text-align: center;
	text-shadow: 0px 0px 5px #ddd;
	width: 18%;
	left: 41%;
	top: 20%;
	position: relative;
}

#frontPage input {
width: 18%;
left: 41%;
position: relative;
height: 2em;
background-color: #444;
border: none;
color: #ddd;
text-align: center;
}

#frontPage .submit {
visibility: hidden;
}